html {
    /*static background-image is set inline in admin/base_site.html*/
    background: transparent no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    background-color: transparent;
}
#slide-out, nav.topbar, nav.breadcrumbs {
    opacity: 0.6;
}