{% extends "base.html" %}
{% load static %}

{% block extrastyle %}
    <link href='{% static "landing/css/landing.css" %}' rel='stylesheet' type='text/css'>
    <style>
        html {background-image: url({% static "landing/img/background.png" %});}
    </style>
{% endblock extrastyle %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>{% trans "Welcome!" %}</h1>

            <p class="lead">{% trans "Not much to see here yet, but we're working on it." %}</p>
            {% if request.user.is_authenticated %}
            <p>{% for link in links %}
                <a class="btn btn-primary btn-lg" href="{{ link.url }}" role="button">{{ link.name }} &raquo;</a>
            {% endfor %}</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}