{% extends "admin/base_site.html" %}
{% load static %}

{% block favicon %}<link href="{% static 'favicon.ico' %}" rel="shortcut icon">{% endblock %}

{% block extrastyle %}
    <link href='{% static "admin/css/extra.css" %}' rel='stylesheet' type='text/css'>
    <style>
        html {background-image: url({% static "admin/img/background.png" %});}
    </style>
{% endblock %}

{% block sidenav_header %}
    <li>
        <div class="userView">
            <img class="background" src="{% static 'material/imgs/sidenav.svg' %}">
            {% block userphoto %}
                {% if user.image_url %}
                    <a href="#"><img class="circle" src="{{ user.image_url }}"></a>
                {% else %}
                    <a href="#"><img class="circle" src="{% static 'material/imgs/user.png' %}"></a>
                {% endif %}
            {% endblock %}
            <a href="#"><span class="white-text name">{{ request.user.get_full_name }}</span></a>
            <a href="#"><span class="white-text email">{{ request.user.email }}</span></a>
        </div>
    </li>
{% endblock %}